<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>sns-demo</title>
</head>
<body>
{% block header %}
<a href="{% url 'logout' %}">logout</a>
<a href="{% url 'chat' %}">chat</a>
<a href="{% url 'detail' %}">detail</a>
<br>
{% endblock %}

{% block message_area %}
{% if messages %}
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}
{% endblock %}

{% block main %}
main
{% endblock %}
{% block footer %}
<br>
footer
{% endblock %}

</body>
</html>