{% extends 'base/base.html' %}

{% block main %}
{% if 'friend_chat' in request.path %}
<div class="d-flex flex-column" style="position: absolute;top: 110px;align-items: center;">
    <h4 class="rounded-3 bg-black p-2 text-white bg-opacity-75" style="text-align: center;max-width: 300px; min-width: 170px;">グループ</h4>
    {% for target in all_group %}
        <a href="{% url 'group_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
            <div>
                <div class="d-flex flex-row rounded-3 bg-success p-2 text-white bg-opacity-50 justify-content-center"style="text-align: center;max-width: 300px; min-width: 170px;">
                    {{ target }}
<!--                    <div class="d-flex flex-row">-->
<!--                        <button type="submit" style="width: 8px;height: 15px;border-radius: 100%;"></button>-->
<!--                    </div>-->
                </div>
            </div>
        </a>
    {% endfor %}
</div>
<div class="d-flex flex-column" style="position: absolute;top: 110px;right: 7px;align-items: center;">
    <h4 class="rounded-3 bg-black p-2 text-white bg-opacity-75" style="text-align: center;max-width: 300px; min-width: 170px;">フレンド</h4>
    {% for target in all_friend %}
        {% if target.send_to == request.user %}
            {% if target == in_speaking_friend %}
                <a href="{% url 'friend_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                    <div class="rounded-3 bg-success p-2 text-danger" style="text-align: center;max-width: 300px; min-width: 170px;">{{ target.profile_send_from.nick_name }}</div>
                </a>
            {% else %}
                <a href="{% url 'friend_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                    <div class="rounded-3 bg-success p-2 text-white bg-opacity-50" style="text-align: center;max-width: 300px; min-width: 170px;">{{ target.profile_send_from.nick_name }}</div>
                </a>
            {% endif %}
        {% elif target.send_from == request.user %}
            {% if target == in_speaking_friend %}
                <a href="{% url 'friend_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                    <div class="rounded-3 bg-success p-2 text-danger" style="text-align: center;max-width: 300px; min-width: 170px;">{{ target.profile_send_to.nick_name }}</div>
                </a>
            {% else %}
                <a href="{% url 'friend_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                    <div class="rounded-3 bg-success p-2 text-white bg-opacity-50" style="text-align: center;max-width: 300px; min-width: 170px;">{{ target.profile_send_to.nick_name }}</div>
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<!--<div id="mini_menu" class="bg-success bg-opacity-75 text-white">-->
<!--    <ul>-->
<!--        <li><a href="">編集</a></li>-->
<!--        <li><a href="">削除</a></li>-->
<!--        <li><a onclick="return cancel();" href="">戻る</a></li>-->
<!--    </ul>-->
<!--</div>-->
<div id="scroll-box" class="rounded mx-auto p-2 d-flex align-items-start flex-column bd-highlight mb-2 border mt-5" style="width: 75%;background-color: #FFF9E6;height: 450px;">
    <div class="mb-auto p-2 bd-highlight" style="height: 1000px;display: block;">
    {% for item in mes %}
        {% if item.owner == request.user %}
            <div class="d-flex flex-row align-items-center" style="position: relative;left: 660px;">
                <div class="d-flex flex-column m-3">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="text-black-50">
                            {{ item.created_at|date:"Y-m-j H:i:s" }}
                        </div>
                        <div>
<!--                            {{ item.profile.nick_name }}-->
                        </div>
                    </div>
                    <a onclick="return message_delete();" id="message_{{ item.id }}" href="{% url 'friend_chat_delete' pk=item.id %}" class="text-decoration-none">
                        <div class="rounded-3 bg-success p-2 text-white bg-opacity-75 m-2" style="position: relative;max-width: 350px; min-width: 350px;">
                            {{ item.content }}
                            <span class="position-absolute start-100 translate-middle badge rounded-pill bg-black" style="opacity: 88%;top: -12%;">
                              {{ item.profile.nick_name }}
                              {% if item.profile.icon is None or item.profile.icon == '' %}
                                  <img src="/media/images/unknown.jpeg" style="width: 30px;height: 25px;border-radius: 100%;"/>
                                  <span class="visually-hidden">unread messages</span>
                              {% else %}
                                  <img src="/media/images/{{ item.profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>
                                  <span class="visually-hidden">unread messages</span>
                              {% endif %}
                            </span>
                        </div>
                    </a>
                </div>
                <div>
<!--                    <img src="/media/images/{{ profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>-->
                </div>
            </div>
        {% else %}
            <div class="d-flex flex-row align-items-center" style="position: relative;left: 40px;">
                <div>
<!--                    <img src="/media/images/{{ friend_profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>-->
                </div>
                <div class="d-flex flex-column m-3">
                    <div class="d-flex flex-row justify-content-between">
                        <div>
<!--                            {{ item.profile.nick_name }}-->
                        </div>
                        <div class="text-black-50">
                            {{ item.created_at|date:"Y-m-j H:i:s" }}
                        </div>
                    </div>
                    <div class="rounded-3 bg-danger p-2 text-white bg-opacity-75 m-2" style="position: relative;left: 0px;max-width: 350px; min-width: 350px;">
                        {{ item.content }}
                        <span class="position-absolute start-0 translate-middle badge rounded-pill bg-black" style="opacity: 88%;top: -12%;">
                          {% if item.profile.icon is None or item.profile.icon == '' %}
                              <img src="/media/images/unknown.jpeg" style="width: 30px;height: 25px;border-radius: 100%;"/>
                          {% else %}
                              <img src="/media/images/{{ item.profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>
                          {% endif %}
                          {{ item.profile.nick_name }}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
<form method="post">
<div class="mb-3 p-2 bd-highlight w-75 mx-auto" style="margin-top: 30px;position: relative;bottom: 18px;">
{% csrf_token %}
  {% for item in form %}
      <div class="row mb-2 form-group">
          <input
              type="{{item.field.widget.input_type}}"
              class="w-200 p-2 form-control"
              {% if item.field.required %}required{% endif %}
              name="{{item.name}}"
              id="{{item.id_for_label}}"
              placeholder="メッセージを入力"
              style="background-color: #FFF9E6;"
              rows="3">
      </div>
  {% endfor %}
    <button type="submit" class="btn btn-success">送信</button>
    <a class="btn btn-danger text-decoration-none text-white" href="#">取消</a>
</div>
</form>
{% elif 'group_chat' in request.path %}
<div id="group_detail_menu" class="group_detail_menu">
    <div style="position: absolute;right: 0;top: 0;width: 100%;height: 5%;">
        <div onclick="return close_menu();" id="close_btn" style="width: 9%;height: 75%;margin-top: 0px;position: absolute; left: 0;top: 0;">
            <div id="bar_a" class="bar_a"></div>
            <div id="bar_b" class="bar_b"></div>
        </div>
    </div>
    <div class="mb-3">
        <h3 class="text-white bg-opacity-100">グループメンバー</h3>
    </div>
    <div>
        {% for group_member in group_members %}
            <li class="text-white bg-opacity-100" style="font-size: 30px;">{{ group_member.nick_name }}</li>
        {% endfor %}
    </div>
</div>
<div class="d-flex flex-column" style="position: absolute;top: 110px;align-items: center;">
    <h4 class="rounded-3 bg-black p-2 text-white bg-opacity-75" style="text-align: center;max-width: 300px; min-width: 170px;">グループ</h4>
    {% for target in all_group %}
        {% if target == in_speaking_group %}
            <a href="{% url 'group_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                <div class="rounded-3 bg-success p-2 text-danger" style="text-align: center;max-width: 300px; min-width: 170px;">{{ target }}</div>
            </a>
        {% else %}
            <a href="{% url 'group_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                <div class="rounded-3 bg-success p-2 text-white bg-opacity-50" style="text-align: center;max-width: 300px; min-width: 170px;">{{ target }}</div>
            </a>
        {% endif %}
    {% endfor %}
</div>
<div class="d-flex flex-column" style="position: absolute;top: 110px;right: 7px;align-items: center;">
    <h4 class="rounded-3 bg-black p-2 text-white bg-opacity-75" style="text-align: center;max-width: 300px; min-width: 170px;">フレンド</h4>
    {% for target in all_friend %}
        {% if target.send_to == request.user %}
            <a href="{% url 'friend_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                <div class="rounded-3 bg-success p-2 text-white bg-opacity-50"style="text-align: center;max-width: 300px; min-width: 170px;">{{ target.profile_send_from.nick_name }}</div>
            </a>
        {% elif target.send_from == request.user %}
            <a href="{% url 'friend_chat' pk=target.id %}" class="text-decoration-none text-black p-2">
                <div class="rounded-3 bg-success p-2 text-white bg-opacity-50"style="text-align: center;max-width: 300px; min-width: 170px;">{{ target.profile_send_to.nick_name }}</div>
            </a>
        {% endif %}
    {% endfor %}
</div>
<div id="scroll-box" class="rounded w-75 mx-auto p-2 d-flex align-items-start flex-column bd-highlight mb-2 border mt-5" style="background-color: #FFF9E6;height: 450px;">
    <div class="mb-auto p-2 bd-highlight" style="height: 1000px;display: block;">
    {% for item in mes %}
        {% if item.owner == request.user %}
            <div class="d-flex flex-row align-items-center" style="position: relative;left: 660px;">
                <div class="d-flex flex-column m-3">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="text-black-50">
                            {{ item.created_at|date:"Y-m-j H:i:s" }}
                        </div>
                        <div>
<!--                            {{ item.profile.nick_name }}-->
                        </div>
                    </div>
                    <a onclick="return message_delete();" id="message_{{ item.id }}" href="{% url 'group_chat_delete' pk=item.id %}" class="text-decoration-none">
                        <div class="rounded-3 bg-success p-2 text-white bg-opacity-75 m-2" style="position: relative;max-width: 350px; min-width: 350px;">
                            {{ item.content }}
                            <span class="position-absolute start-100 translate-middle badge rounded-pill bg-black" style="opacity: 88%;top: -12%;">
                              {{ item.profile.nick_name }}
                              <img src="/media/images/{{ item.profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>
                              <span class="visually-hidden">unread messages</span>
                            </span>
                        </div>
                    </a>
                </div>
                <div>
<!--                    <img src="/media/images/{{ item.profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>-->
                </div>
            </div>
        {% else %}
            <div class="d-flex flex-row align-items-center" style="position: relative;left: 40px;">
                <div>
<!--                    <img src="/media/images/{{ item.profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>-->
                </div>
                <div class="d-flex flex-column m-3">
                    <div class="d-flex flex-row justify-content-between">
                        <div>
<!--                            {{ item.profile.nick_name }}-->
                        </div>
                        <div class="text-black-50">
                            {{ item.created_at|date:"Y-m-j H:i:s" }}
                        </div>
                    </div>
                    <div class="rounded-3 bg-danger p-2 text-white bg-opacity-75 m-2" style="position: relative;left: 0px;max-width: 350px; min-width: 350px;">
                        {{ item.content }}
                        <span class="position-absolute start-0 translate-middle badge rounded-pill bg-black" style="opacity: 88%;top: -12%;">
                          <img src="/media/images/{{ item.profile.icon }}" style="width: 30px;height: 25px;border-radius: 100%;"/>
                          {{ item.profile.nick_name }}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
<form method="post">
<div class="mb-3 p-2 bd-highlight w-75 mx-auto" style="margin-top: 30px;position: relative;bottom: 18px;">
{% csrf_token %}
  {% for item in form %}
      <div class="row mb-2 form-group">
          <input
              type="{{item.field.widget.input_type}}"
              class="w-200 p-2 form-control"
              {% if item.field.required %}required{% endif %}
              name="{{item.name}}"
              id="{{item.id_for_label}}"
              placeholder="メッセージを入力"
              style="background-color: #FFF9E6;"
              rows="3">
      </div>
  {% endfor %}
    <button type="submit" class="btn btn-success">送信</button>
    <a class="btn btn-danger text-decoration-none text-white" href="#">取消</a>
    <a onclick="group_detail();" class="btn btn-success text-decoration-none text-white" href="#">詳細</a>
    <a class="btn btn-success text-decoration-none text-white float-end" href="{% url 'group_invite' %}">招待</a>
</div>
</form>
{% endif %}
{% endblock %}