{% extends 'base/base.html' %}


{% block main %}
<div class="d-flex justify-content-center" style="margin-top: 120px;">
<form method="post">
      {% csrf_token %}
      <div class="d-flex mb-3">
          <input
              type="text"
              class="w-200 p-2 form-control"
              style="width: 300px;"
              name="search"
              value="{{ search }}"
              placeholder="ユーザーを検索">
          <button type="submit" class="btn btn-success" style="margin-left: 10px;width: 80px;">検索</button>
      </div>
      <div>
          {% for user in users %}
              {% if user == request.user %}
              {% else %}
                  <a href="{% url 'friend_request' pk=user.id %}" class="text-decoration-none">
                      <div class="rounded-3 bg-success p-2 text-white bg-opacity-75 m-4"style=" max-width: 350px; min-width: 350px;">{{ user }}</div>
                  </a>
              {% endif %}
          {% endfor %}
      </div>
</form>
</div>
{% endblock %}