{% extends 'base/base.html' %}


{% block main %}
<div class="d-flex justify-content-center" style="margin-top: 120px;">
<form method="post">
{% csrf_token %}
  {% for item in form %}
      <div class="row mb-3 form-group">
          <label for="{{item.id_for_label}}" class="col-sm-2 col-form-label w-50">{{item.label}}</label>
          <input
              type="{{item.field.widget.input_type}}"
              class="w-200 p-2 form-control"
              style="background-color: #FFF9E6;"
              {% if item.field.required %}required{% endif %}
              name="{{item.name}}"
              id="{{item.id_for_label}}"
              {% if item.value is None %}
              value=""
              {% else %}
              value="{{ item.value }}"
              {% endif %}>
      </div>
  {% endfor %}
      <button type="submit" class="btn btn-success">作成</button>
</form>
</div>
{% endblock %}