{% extends 'base/base.html' %}


{% block main %}
<div class="d-flex justify-content-evenly" style="margin-top: 80px;">
    <div class="bg-white w-25" style="height: 500px;">
        <h3 class="bg-success m-2" style="height: 50px;text-align: center">グループ一覧</h3>
        <div class="d-flex flex-column bd-highlight　bg-success">

        </div>
    </div>
    <div class="bg-white w-25" style="height: 500px;">aaa</div>
    <div class="bg-white w-25" style="height: 500px;">aaa</div>
</div>
{% endblock %}