{% extends 'base/base.html' %}


{% block main %}
<div class="d-flex justify-content-center">
<div class="d-flex w-25 flex-column justify-content-center" style="margin-top: 90px;">
    <div class="d-flex justify-content-center">
        <img src="{{ url }}" style="border-radius: 100%;width: 130px;height: 110px;"/>
    </div>
<form method="post">
{% csrf_token %}
  {% for item in form %}
      <div class="row mb-3 form-group">
          <label for="{{item.id_for_label}}" class="col-sm-2 col-form-label w-50">{{item.label}}</label>
              <input
                  type="{{item.field.widget.input_type}}"
                  style="background-color: #FFF9E6;"
                  class="w-200 p-2 form-control"
                  {% if item.field.required %}required{% endif %}
                  name="{{item.name}}"
                  id="{{item.id_for_label}}"
                  {% if item.value is None %}
                  value=""
                  {% else %}
                  value="{{ item.value }}"
                  {% endif %}>
      </div>
  {% endfor %}
      <button type="submit" class="btn btn-success">登録</button>
</form>
</div>
</div>
{% endblock %}